<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="card col-6 mb-3">
                <div class="mb-3 card-body">
                    <img src="<%= campground.image %>" class="card-img-top" alt="...">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="text-muted"><%= campground.location %></p>
                <!-- </div> -->
                <!-- <div class="card-body"> -->
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <form class="d-inline-block" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger card-link">delete</button>
                    </form>
                    <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info d-inline-block">Edit</a>
                </div> 
                <!-- </div> -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">$<%= campground.price %>.00/night</li>
                </ul>
                <!-- <form class="d-inline-block" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger card-link">delete</button>
                </form>
                <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info d-inline-block">Edit</a> -->
            </div>
        <div class="col-6 mb-3">
            <h4>Leave a Review</h4>
            <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
                <!-- <label for="comment" class="form-label">Leave a comment</label> -->
                <textarea name="review[body]" class="form-control" rows="2" placeholder="Write a review..." id="comment" cols="30"
                    rows="10" required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                <label for="rating" class="form-label">Rating</label>
                <input type="range" class="form-range" step=".5" min="1" max="5" id="rating"
                    name="review[rating]">
                <button class="btn btn-success mt-2">Submit</button>
            </form>
            <% for(let review of campground.reviews) {%> 
            <div class="card mb-3">
                <div class="card-body mb-3 mt-3 w-100">
                    <h5 class="card-title">Rating: <%= review.rating %></h5>
                    <p><%= review.body %></p>    
                    <form action="/campgrounds/<%= campground._id%>/reviews/<%= review._id %>?_method=DELETE" method="POST"><button class="btn btn-outline-danger btn-sm">Delete</button></form>
                </div>
            </div>
                <% } %> 
        </div>
